<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('공지사항')">

</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		<header id="header" class="transparent-header dark"
			th:replace="fragments/front/common :: headMenu('white')"> </header>
		<section class="page-title bg-transparent">
			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<h1>영상자료</h1>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">영상자료</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			<div class="content-wrap">
				<div class="container" >

					<div class="single-post mb-0 row justify-content-center notice-wrap">
						<div class="entry col-lg-8 col-sm-12">
							<div class="entry-title">
								<h2>우표 '이야기' 들으러 오세요!</h2>
							</div>
	
							<div class="entry-meta">
								<ul>
									<li><i class="uil uil-schedule"></i> 2023.09.21</li>
									<li><a href="#"><i class="uil uil-user"></i> 우편사업진흥원</a></li>
									<li><i class="uil uil-folder-open"></i> <a href="#"># 영상자료</a></li>
								</ul>
							</div>
							<div class="entry-content mt-0">

								<div class="container">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/cEoZQJdYi_w?si=lnmXxZcvFPUYF1K4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
</body>
</html>