.revo-slider-emphasis-text {
	font-size: 64px;
	font-weight: 700;
	letter-spacing: -1px;
	font-family: 'Poppins', sans-serif;
	padding: 15px 20px;
	border-top: 2px solid #FFF;
	border-bottom: 5px solid black;
}

.revo-slider-desc-text {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	width: 650px;
	text-align: center;
	line-height: 1.5;
}

.revo-slider-caps-text {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3px;
	font-family: 'Poppins', sans-serif;
}
.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

.tp-caption.TechJournal-Button,
.TechJournal-Button {
	color:rgba(0,0,0,1.00);
	font-size:13px;
	line-height:40px;
	font-weight:900;
	font-style:normal;
	font-family:Raleway;
	padding:1px 30px 1px 30px;
	text-decoration:none;
	text-align:center;
	background-color:rgba(230,35,16,1);
	border-color:rgba(0,0,0,1.00);
	border-style:solid;
	border-width:0px;
	border-radius:0px 0px 0px 0px;
	letter-spacing:3px
}

.tp-caption.TechJournal-Button:hover,
.TechJournal-Button:hover {
	color:rgba(0,0,0,1.00);
	text-decoration:none;
	background-color:rgba(255,255,255,1.00);
	border-color:rgba(0,0,0,1.00);
	border-style:solid;
	border-width:0px;
	border-radius:0px 0px 0px 0px;
	cursor:pointer
}
.rev-btn{
	color:white !important;
}
.tp-caption.TechJournal-Big,
.TechJournal-Big {
	color:rgba(0,0,0,1.00);
	font-size:120px;
	line-height:120px;
	font-weight:900;
	font-style:normal;
	font-family:Raleway;
	padding:0 0 0 0px;
	text-decoration:none;
	text-align:center;
	background-color:transparent;
	border-color:transparent;
	border-style:none;
	border-width:0px;
	border-radius:0 0 0 0px;
	letter-spacing:0px
}