<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('보도자료')">

</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		<header id="header" class="transparent-header dark"
			th:replace="fragments/front/common :: headMenu('white')"> </header>
		<section
			class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/e1.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric
							Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 보도자료</div>
						</h1>

						<div class="mt-4 pt-3">
							<a href="/notice/gallery"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">사진영상<i
								class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a> <a href="/notice/content"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">공지사항
								<i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="/index"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">이벤트</a></li>
							<li class="breadcrumb-item active" aria-current="page">이벤트
								안내</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">

			<div class="content-wrap pt-0">
				<div class="container">
					<div class="row g-4 mb-5">
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="http://news.bbsi.co.kr/news/articleView.html?idxno=3126513"
												class="entry-image"> <img
												src="/front/images/press/11.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[1]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="http://news.bbsi.co.kr/news/articleView.html?idxno=3126513"
														class="text-uppercase fw-medium">2023.09.26.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="http://news.bbsi.co.kr/news/articleView.html?idxno=3126513">[포토뉴스]2023 대한민국 우표전시회</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 우정사업본부 산하 한국우편사업진흥원은 ‘2023 대한민국 우표전시회’가 지난 21일 개막돼 오는 28...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://www.news1.kr/photos/view/?6227645"
												class="entry-image"> <img
												src="/front/images/press/3.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[2]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://www.news1.kr/photos/view/?6227645"
														class="text-uppercase fw-medium">2023.09.22.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://www.news1.kr/photos/view/?6227645">2023 대한민국 우표전시회</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0">#  21일 서울 종로구 세종문화회관에서 열린 대한민국 우표전시회에서 관람객들이 전시물을 ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://www.insnews.co.kr/design_php/news_view.php?num=75923&firstsec=1&secondsec=17"
												class="entry-image"> <img
												src="/front/images/press/44.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[3]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://www.insnews.co.kr/design_php/news_view.php?num=75923&firstsec=1&secondsec=17"
														class="text-uppercase fw-medium">2023.09.22.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://www.insnews.co.kr/design_php/news_view.php?num=75923&firstsec=1&secondsec=17">우정사업본부, ‘2023 대한민국 우표전시회’ 개최</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 우정사업본부가 AI 기술 접목을 통한 우표의 지속가능성과 미래가치를 ‘2023  ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="http://www.daejonilbo.com/news/articleView.html?idxno=2087489"
												class="entry-image"> <img
												src="/front/images/press/4.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[4]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="http://www.daejonilbo.com/news/articleView.html?idxno=2087489"
														class="text-uppercase fw-medium">2023.09.21.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="http://www.daejonilbo.com/news/articleView.html?idxno=2087489">AI기술 접목한 2023 대한민국 우표전시회 28일까지</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 과학기술정보통신부 우정사업본부는 AI 기술을 접목한 우표 속 인물을 만나볼 수 있는 '2023 ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://www.yna.co.kr/view/AKR20230921060800017?input=1195m"
												class="entry-image"> <img
												src="/front/images/press/22.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[5]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://www.yna.co.kr/view/AKR20230921060800017?input=1195m"
														class="text-uppercase fw-medium">2023.09.21.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://www.yna.co.kr/view/AKR20230921060800017?input=1195m">"AI로 재탄생한 인물 만나요"</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 과학기술정보통신부 우정사업본부는 인공지능(AI)으로 재탄생한 우표 속 인물을 만나볼 수 있는 '2023 대한민국 ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://newsis.com/view/?id=NISI20230921_0020045347"
												class="entry-image"> <img
												src="/front/images/press/5.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[6]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://newsis.com/view/?id=NISI20230921_0020045347"
														class="text-uppercase fw-medium">2023.09.21.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://newsis.com/view/?id=NISI20230921_0020045347">2023년 대한민국 우표전시회 개막</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 2023년 대한민국 우표전시회가 개막한 21일 오후 서울 종로구 세종문화회관 미술관 ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://n.news.naver.com/article/031/0000772573?sid=105"
												class="entry-image"> <img
												src="/front/images/press/33.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[7]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://n.news.naver.com/article/031/0000772573?sid=105"
														class="text-uppercase fw-medium">2023.09.17.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://n.news.naver.com/article/031/0000772573?sid=105">작은 우표 속 꾹꾹 담긴 궁금한 우표 '이야기'</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 정보기술(IT) 시대에 옛날 학창 시절 때와 같은 우표 수집의 열기는 사라졌지만 우표를 향한 국민의 사랑은 여전....</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://www.mk.co.kr/news/culture/10831278"
												class="entry-image"> <img
												src="/front/images/press/1.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[8]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://www.mk.co.kr/news/culture/10831278"
														class="text-uppercase fw-medium">2023.09.13.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://www.mk.co.kr/news/culture/10831278">韓
														대표 분식 떡볶이·순대, 기념우표로 나온다</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 과학기술정보통신부 우정사업본부(본부장 직무대리 박인환)는 오는
													21일부터 28일....</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						<main class="postcontent col-lg-3">
							<div class="row g-4 mb-5">
								<article class="entry event col-12 mb-0">
									<div
										class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
										<div class="col-12 mb-md-0">
											<a
												href="https://n.news.naver.com/article/009/0005187648?sid=103"
												class="entry-image"> <img
												src="/front/images/press/2.jpg" alt="#" class="rounded-2">
												<div class="bg-overlay">
													<div
														class="bg-overlay-content justify-content-start align-items-start">
														<div class="badge bg-light text-dark rounded-pill">보도자료[9]
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-12 p-1 pt-0">
											<div class="entry-meta no-separator mb-1 mt-0">
												<ul>
													<li><a
														href="https://n.news.naver.com/article/009/0005187648?sid=103"
														class="text-uppercase fw-medium">2023.09.17.</a></li>
												</ul>
											</div>

											<div class="entry-title nott">
												<h3>
													<a
														href="https://n.news.naver.com/article/009/0005187648?sid=103">작은
														우표 속 꾹꾹 담긴 궁금한 우표 '이야기'</a>
												</h3>
											</div>
											<div class="entry-content my-3">
												<p class="mb-0"># 정보기술(IT) 시대에 옛날 학창 시절 때와 같은 우표 수집의 열기는
													사라졌지만 우표를 ...</p>
											</div>

										</div>
									</div>
								</article>
							</div>
						</main>
						
						
					</div>
					<div class="pagination-wrap">
						<ul class="pagination pagination-rounded pagination-3d">
							<li class="page-item"><a class="page-link" href="#"
								tabindex="-1" aria-disabled="true">First</a></li>
							<li class="page-item"><a class="page-link" href="#"
								tabindex="-1" aria-disabled="true">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">Last</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous"></script>
	<script src="/front/js/components/datepicker.js"></script>

</body>
</html>