<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('우수작 전시 페이지')">
    
</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		 <header id="header" class="transparent-header dark" th:replace="fragments/front/common :: headMenu('white')">
         
        </header>
		<section class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/no.png" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric
							Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 일반출품작 전시</div>
						</h1>

						<div class="mt-4 pt-3">
							<button class="col-lg-3 col-12 button rounded-2 button-dark button-border border-2 mb-0" data-scrollto="#content" data-offset="60">작품 감상하기<i class="uil uil-arrow-circle-down ms-1"></i></button>
							<a href="/contest/excellent"
								class="col-lg-3 col-12 button rounded-2 button-dark button-border border-2 me-0 mb-0">수상작 감상하기 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
							<a href="http://www.ebookand.com/ebook/stampex/ebook.html"
								class="col-lg-3 col-12 button rounded-2 button-dark button-border border-2 me-0 mb-0">카달로그 E-BOOK
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="/index"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">우표작품전시</a></li>
							<li class="breadcrumb-item active" aria-current="page">일반출품작전시</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			<div class="content-wrap pb-0">
				<div class="container">
					<div class="card search-form-card">
						<div class="card-body" style="padding:20px">

								<form class="row mb-0" th:action="@{/contest/normal}" method="POST">

									<div class="col-lg-12 mt-4 mt-lg-0">
										<div class="tab-content" id="nav-tabContent">

											<div class="tab-pane fade show active"role="tabpanel" aria-labelledby="tab-reservation-select-dates">
												<div class="row">
													<div class="col-lg-4 col-sm-12">
														<div class="mb-4">
															<label>부문별 검색 : </label>
															<select class="form-select border-form-control" name="subject">
																<option value="all" selected="selected">전체보기 </option>
																<option th:selected="${subject} == '우취'" value="우취">어린이</option>
																<option th:selected="${subject} == '전통우취'" value="전통우취">전통우취</option>
																<option th:selected="${subject} == '열린우취'" value="열린우취">열린우취</option>
																<option th:selected="${subject} == '우편사'" value="우편사">우편사</option>
																<option th:selected="${subject} == '테마틱우취'" value="테마틱우취">테마틱우취</option>
																<option th:selected="${subject} == '현대우취'" value="현대우취">현대우취</option>
																<option th:selected="${subject} == '관광인-주제'" value="관광인-주제">관광인-주제</option>
																<option th:selected="${subject} == '청소년A'" value="청소년A">청소년A</option>
																<option th:selected="${subject} == '한틀-전통'" value="한틀-전통">한틀-전통</option>
																<option th:selected="${subject} == '한틀-테마틱'" value="한틀-테마틱">한틀-테마틱</option>
																<option th:selected="${subject} == '청소년B'" value="청소년B">청소년B</option>
																<option th:selected="${subject} == '도안별수집'" value="도안별수집">도안별수집</option>
																<option th:selected="${subject} == '맥시머필리'" value="맥시머필리">맥시머필리</option>
																<option th:selected="${subject} == '한틀-관광인'" value="한틀-관광인">한틀-관광인</option>
																<option th:selected="${subject} == '그림엽서'" value="그림엽서">그림엽서</option>
																<option th:selected="${subject} == '우취문헌'" value="우취문헌">우취문헌</option>
																<option th:selected="${subject} == '한국우표'" value="한국우표">한국우표</option>
																<option th:selected="${subject} == '관광인-우편사'" value="관광인-우편사">관광인-우편사</option>
															</select>
														</div>
													</div>
													<div class="col-lg-4 col-sm-12">
														<label>검색어 입력 : </label>
														<input type="text" name="searchWord" th:value="${searchWord}"
														 class="form-control border-form-control" placeholder="검색어 입력 후 검색 버튼을 클릭 해 주세요.">
													</div>
													<div class="col-lg-4 col-sm-12">
														<button type="submit"
														 style="width:100%;" 
														 class="search-btn button button-middle button-white button-light text-center">검색</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container divider divider-border divider-center"><i class="bi-send"></i></div>
			<div class="content-wrap pt-0">
				<div class="container">
					<div class="portfolio row grid-container gutter-20"  data-layout="fitRows">
						<article class="exhibition-wrap portfolio-item col-md-4 col-sm-6 col-12" th:each="e:${exhibitions}">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a th:href="@{|/contest/normalDetail/${e.id}|}" >
										<img th:src="@{${e.firstImage}}" alt="대표이미지">
									</a>
									<div class="over-wrap">
										<p th:text="${e.subject}"></p>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a class="port-title" th:href="@{|/contest/excellentDetail/${e.id}|}">[작품명 : [[${e.name}]] ]</a></h3>
									<span class="port-content"><a th:href="@{|/contest/excellentDetail/${e.id}|}">[작가명 : [[${e.author}]] ]</a> <a th:href="@{|/contest/excellentDetail/${e.id}|}">[수상 : [[${e.prizeName}]] ]</a></span>
								</div>
							</div>
						</article>
						<article class="portfolio-item col-12 text-center" th:if="${exhibitions.totalElements == 0}">
							<p>- 검색 결과가 존재하지 않습니다. 정확하게 검색 해 주세요. -</p>
						</article>
					</div>
					<div class="pagination-wrap">
						<ul class="pagination pagination-rounded pagination-3d">
						  <li class="page-item"
								th:classappend="${1 == exhibitions.pageable.pageNumber+1} ? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/contest/normal(page=0, size=${param.size}, subject=${subject}, searchType=${searchType}, searchWord=${searchWord})}"
								tabindex="-1" aria-disabled="true">First</a>
							</li>
							<li class="page-item"
								th:classappend="${1 == exhibitions.pageable.pageNumber+1} ? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/contest/normal(page=${exhibitions.pageable.pageNumber - 1}, size=${param.size}, subject=${subject}, searchType=${searchType}, searchWord=${searchWord})}"
								tabindex="-1" aria-disabled="true">Previous</a>
							</li>
							<li class="page-item"
								th:classappend="${i == exhibitions.pageable.pageNumber+1} ? 'disabled'"
								th:each="i : ${#numbers.sequence(startPage, endPage)}">
								<a	class="page-link" href="#" th:text=${i}
								th:href="@{/contest/normal(page=${i-1}, size=${param.size}, subject=${subject}, searchType=${searchType}, searchWord=${searchWord})}">1</a>
							</li>
							<li class="page-item"
								th:classappend="${exhibitions.totalPages == exhibitions.pageable.pageNumber + 1} ? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/contest/normal(page=${exhibitions.pageable.pageNumber + 1}, size=${param.size}, subject=${subject}, searchType=${searchType}, searchWord=${searchWord})}">Next</a>
							</li>
							<li class="page-item"
								th:classappend="${exhibitions.totalPages == exhibitions.pageable.pageNumber + 1} ? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/contest/normal(page=${exhibitions.totalPages-1}, size=${param.size}, subject=${subject}, searchType=${searchType}, searchWord=${searchWord})}">Last</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="/front/js/components/datepicker.js"></script>
</body>
</html>