<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('2023 대한민국 우표전시회')">

</head>

<body class="stretched">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		<header id="header" class="transparent-header"
			th:replace="fragments/front/common :: headMenu('index')"> </header>
		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 include-header">
			<div class="slider-inner" id="main-mobile">
				<div id="pc-video" data-vbg-autoplay="true" data-vbg="https://youtu.be/TbEyqaaybSw"></div>
				<div class="vertical-middle slider-element-fade" style="background-color:rgba(0,0,0,0.2);">
					<div class="container mt-5 mb-6">
						<div
							class="row align-items-center justify-content-center col-mb-80">
							<div class="col-12 text-center pb-0 main-text-area">
								<style>
								.has-plugin-textrotator .textrotator-placeholder {
									display: none
								}
								</style>
								
								<h1 class="fw-semibold lh-sm display-4 mb-0 mt-5"
									style="letter-spacing: -1px; color: white;">
									<span class="text-rotater-section nocolor" data-separator="|"
										data-rotate="fadeIn" data-speed="2500"><span
										class="t-rotate c-white">즐거움이 가득한|함께 즐기는|콘텐츠가 풍성한</span></span> 우표전시회
								</h1>
								<h3 class="fw-semibold mt-0" style="color: white;">2023.09.21.(목)
									~ 09.28.(목) 세종문화회관 미술관 2관</h3>
							</div>
							<div class="col-lg-8 text-center pb-3 mt-10 m-mt-10">
								<div
									class="row justify-content-center gutter-20 mx-auto main-btn-wrap"
									style="max-width: 600px;">
									<div class="col-sm-6 col-xl-6">
										<a href="/intro/opening"
											class="button button-large button-shadow button-shadow-contrast border-contrast-900 bg-opacity-50 border border-width-2 text-contrast-900 h-text-light rounded m-0 w-100"
											data-offset="100" data-easing="easeInOutExpo"
											data-speed="1250" style="padding: 0.75rem 2rem;"><i
											class="uil uil-images"
											style="position: relative; top: 1px; margin-right: 5px;"></i>
											행사안내</a>
									</div>
									<div class="col-sm-6 col-xl-6">
										<a href="/front/download.pdf" download 
											class="button button-large button-shadow button-shadow-contrast border-contrast-900 bg-opacity-50 border border-width-2 text-contrast-900 h-text-light rounded m-0 w-100"
											data-offset="100" data-easing="easeInOutExpo"
											data-speed="1250" style="padding: 0.75rem 2rem;"><i
											class="uil uil-images"
											style="position: relative; top: 1px; margin-right: 5px;"></i>
											브로슈어 다운로드</a>
									</div>
								</div>
							</div>
							<div class="col-12 text-center">
								<span class="d-inline-block mb-3 me-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 대한민국우표전시회</span> <span
									class="d-inline-block mb-3 me-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 세종문화회관</span> <span
									class="d-inline-block mb-3 me-3 small"><i
									class="fa-star fa-solid me-1 position-relative text-warning"></i>#
									우표이야기</span> <span class="d-inline-block mb-3 me-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 우표전설관</span> <span
									class="d-inline-block mb-3 me-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 우표예술관</span> <span
									class="d-inline-block mb-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 우표대화관</span> <span
									class="d-inline-block mb-3 small"><i
									class="fa-check fa-solid me-1 position-relative text-success"
									style="top: 1px"></i> # 우표역사관</span>
							</div>
						</div>
					</div>
					<div class="clear mb-4"></div>

				</div>
			</div>
		</section>

		<section id="content">
			<div class="container" style="padding-top: 80px;">
				<div class="title-block">
					<h1>우표작품 수상작</h1>
					<span>2023 대한민국 우표전시회 및 제 36회 어린이 우표전시회 멋진 수상작을 만나 보세요.</span> <span>자세한
						감상을 원하시면 이미지를 클릭 해 주세요.</span>
				</div>
			</div>
			<div class="position-relative w-100" style="margin-top: 100px;">
				<style>
.swiper-wrapper {
	-webkit-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
	position: relative;
}
</style>
				<div
					class="overflow-hidden slider-element swiper_wrapper intro-swiper-marquee customjs h-auto">
					<div class="slider-inner viewport-detect">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" th:each="e, eState : ${ex}"
									th:classappend="${eState.count%2 == 0} ? 'mt-5' : ''">
									<div class="row g-4 mb-5">
										<div class="col-12 main-contest" th:each="x : ${e}">
											<div class="grid-inner"
												style="border: 2px solid rgba(0, 0, 0, 0.4); box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);">
												<a th:href="@{|/contest/normalDetail/${x.id}|}"> <img
													th:src="@{${x.firstImage}}"
													th:data-src="@{${x.firstImage}}" alt="SAMPLE"
													class="img-fluid">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="position-absolute start-50 top-50 translate-middle z-2">
					<div
						class="px-3 bg-white rounded-6 border border-width-2 border-dark button-shadow button-shadow-dark button-shadow-nohover">
						<span
							class="text-rotater-section font-primary text-black fw-medium demos-text-rotator"
							data-separator="|" data-rotate="fadeIn" data-speed="100"
							data-backdelay="1000" data-typed="true" data-shuffle="true"
							data-loop="true" data-cursor="false"> &nbsp;<span
							class="t-rotate">전통우취|열린우취|우편사|테마틱우취|현대우취|관광인-주제|청소년|한틀-전통|한틀-테마틱|청소년B|도안별수집|맥시머필리|한틀-관광인|그림엽서|우취문헌|한국우표|관광인-우편사</span>&nbsp;
						</span>
					</div>
				</div>
			</div>
			<div class="container" style="padding-top: 80px;">
				<div class="title-block">
					<h1>테마관 안내</h1>
					<span>이야기를 주제로 전설, 예술, 대화, 역사 네 가지의 테마관이 운영 됩니다.</span>
				</div>
			</div>
			<div class="container" style="margin-bottom: 80px;">
				<div id="swiper-tab-container" class="swiper-tab-container">

					<div class="swiper-tab-pagination m-d-none"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="row mt-3 slide-inner"
								style="justify-content: space-between;">
								<div class="col-md-4">
									<div class="widget swiper-widget">
										<div class="widget-title">우표 전설관[영롱한 이야기]</div>
										<p class="mt-5">작은 네모 속에 함축된 이야기를 담고 있는 우표,</p>
										<p class="mb-3">오늘날 그 의미는 하나의 문화 아이콘으로 자리매김하고 있습니다.</p>
										<p>
											우리 K-컬처의 영롱한 이야기를 담은 <strong>K-POP과 K-캐릭터</strong>들까지 자세하게
											살펴보고자 합니다.
										</p>
									</div>
								</div>
								<div class="col-md-7">
									<img width="100%" class="img-fluid"
										style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);"
										src="/front/images/new/bg1.jpg" />
								</div>
								
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row mt-3 slide-inner">
								<div class="col-md-5">
									<div class="widget swiper-widget">
										<div class="widget-title">우표 예술관[아름다운 이야기]</div>
										<p class="mt-5">우표는 그 나라의 자연과 역사&#183;사회&#183;문화 등을</p>
										<p class="mb-3">표현하는 예술의 꽃 입니다.</p>
										<p>
											예술적인 가치를 확인하고<strong>우표와 현대 미술 작품 및 디자인과의 콜라보</strong>를 통해
											우표의 예술적 가치를 재조명하고자 합니다.
										</p>
									</div>
								</div>
								<div class="col-md-7">
									<img width="100%" class="img-fluid"
										style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);"
										src="/front/images/new/bg2.jpg" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row mt-3 slide-inner">
								<div class="col-md-5">
									<div class="widget swiper-widget">
										<div class="widget-title">우표 대화관[교감하는 이야기]</div>
										<p class="mt-5">AI를 활용한 우표작품과</p>
										<p class="mb-0">인터렉티브 전시 콘텐츠 등을 통해</p>
										<p class="mb-3">인공지능 기술의 발전과 함께 다양한 분야에서</p>
										<p>
											<strong>인간과 AI가 함께</strong> 살아가는 미래를 상상해 볼 수 있는 기회를 제공하고자
											합니다.
										</p>
									</div>
								</div>
								<div class="col-md-7">
									<img width="100%" class="img-fluid"
										style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);"
										src="/front/images/new/bg3.jpg" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row mt-3 slide-inner">


								<div class="col-md-5">
									<div class="widget swiper-widget">
										<div class="widget-title">우표 역사관[기록하는 이야기]</div>
										<p class="mt-5">우표수집은 역사적 안목과 문화적 지성,</p>
										<p class="mb-3">예술적 감각을 모두 높일 수 있습니다.</p>
										<p>
											우리 역사와 문화를 기록한<strong> 우표 수상작을 통해</strong> 기록 문화로써 우표의 가치를
											확인하고자 합니다.
										</p>
									</div>
								</div>
								<div class="col-md-7">
									<img class="img-fluid"
										style="box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);"
										src="/front/images/new/bg4.jpg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-wrap m-d-none">
				<div class="container" style="padding-top: 80px;">
					<div class="title-block">
						<h1>새로운 소식</h1>
						<span>대한민국 우표전시회에 대한 다양한 소식들을 만나보세요.</span>
					</div>
				</div>
				<div class="container" style="padding-top: 80px;">
					<div class="row">
						<div class="col-lg-6 col-12" style="margin: 0 auto;">
							<ul class="nav canvas-alt-tabs2 tabs nav-pills mb-5 new-notice-wrap"
								id="canvas-tab-nav2" role="tablist">
								<li class="nav-item" role="presentation">
									<button
										class="nav-link active button button-border button-circle button-dark"
										id="canvas-home-nav2-tab" data-bs-toggle="pill"
										data-bs-target="#home-nav2" type="button" role="tab"
										aria-controls="canvas-home-nav2" aria-selected="true">공지사항</button>
								</li>
								<li class="nav-item" role="presentation">
									<button
										class="nav-link button button-border button-circle button-dark"
										id="canvas-profile-nav2-tab" data-bs-toggle="pill"
										data-bs-target="#profile-nav2" type="button" role="tab"
										aria-controls="canvas-profile-nav2" aria-selected="false">이벤트</button>
								</li>
								<li class="nav-item" role="presentation">
									<button
										class="nav-link button button-border button-circle button-dark"
										id="canvas-contact-nav2-tab" data-bs-toggle="pill"
										data-bs-target="#contact-nav2" type="button" role="tab"
										aria-controls="canvas-contact-nav2" aria-selected="false">보도자료</button>
								</li>
								<li class="nav-item" role="presentation">
									<button
										class="nav-link button button-border button-circle button-dark"
										id="canvas-about-nav2-tab" data-bs-toggle="pill"
										data-bs-target="#about-nav2" type="button" role="tab"
										aria-controls="canvas-about-nav2" aria-selected="false">사진영상</button>
								</li>
							</ul>
						</div>
					</div>
					<div id="canvas-tab-content2" class="tab-content">
						<div class="tab-pane fade show active" id="home-nav2"
							role="tabpanel" aria-labelledby="canvas-home-nav2-tab"
							tabindex="0">
							<div class="row">
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div
												class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/notice/noticeDetail" class="entry-image"> <img
														src="/front/images/new/finish/n.png" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">공지사항[1]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="/notice/noticeDetail" class="text-uppercase fw-medium">2023.09.20.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="/notice/noticeDetail">2023 대한민국 우표전시회를 개최합니다.</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 우표의 이야기를 재미있게 공유하기 위하여 4가지의 테마관을....</p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>

							</div>
						</div>
						<div class="tab-pane fade" id="profile-nav2" role="tabpanel"
							aria-labelledby="canvas-profile-nav2-tab" tabindex="0">
							<div class="row">

								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div
												class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/event/eventOneDetail" class="entry-image"> <img
														src="/front/images/new/ee2.png" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">EVENT[1]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="/event/eventOneDetail" class="text-uppercase fw-medium">2023.09.18. ~ 2023.09.20.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="/event/eventOneDetail">우표 초성 이벤트</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 우표 ㅊㅁ 주간???</p>
													</div>

												</div>
											</div>
										</article>
									</div>
								</main>
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div
												class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="javascript:void(0);" class="entry-image"> <img
														src="/front/images/3231231.png" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">EVENT[2]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="javascript:void(0);" class="text-uppercase fw-medium">2023.09.12. ~ 2023.09.17.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="javascript:void(0);">기대평 EVENT</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 우표, 문학 그리고 행복한 이야기.</p>
													</div>

												</div>
											</div>
										</article>
									</div>
								</main>
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="javascript:void(0);" class="entry-image"> <img
														src="/front/images/123123123.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">EVENT[3]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="javascript:void(0);" class="text-uppercase fw-medium">2023.09.06 ~ 2023.09.10.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="javascript:void(0);">팔로우 EVENT</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 이번 우표전시회의 주제는??</p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>
							</div>
						</div>
						<div class="tab-pane fade" id="contact-nav2" role="tabpanel"
							aria-labelledby="canvas-contact-nav2-tab" tabindex="0">
							<div class="row">
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div
												class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="https://n.news.naver.com/article/031/0000772573?sid=105" class="entry-image"> <img
														src="/front/images/press/1.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">매일경제[1]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="https://n.news.naver.com/article/031/0000772573?sid=105" class="text-uppercase fw-medium">2023.09.13.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="https://n.news.naver.com/article/031/0000772573?sid=105">韓 대표 분식 떡볶이·순대, 기념우표로 나온다</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 과학기술정보통신부 우정사업본부(본부장 직무대리 박인환)는 오는 21일부터 28일....</p>
													</div>

												</div>
											</div>
										</article>
									</div>
								</main> 
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div
												class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="https://n.news.naver.com/article/009/0005187648?sid=103" class="entry-image"> <img
														src="/front/images/press/2.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">매일경제[2]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-meta no-separator mb-1 mt-0">
														<ul>
															<li><a href="https://n.news.naver.com/article/009/0005187648?sid=103" class="text-uppercase fw-medium">2023.09.17.</a></li>
														</ul>
													</div>

													<div class="entry-title nott">
														<h3>
															<a href="https://n.news.naver.com/article/009/0005187648?sid=103">작은 우표 속 꾹꾹 담긴 궁금한 우표 '이야기'</a>
														</h3>
													</div>
													<div class="entry-content my-3">
														<p class="mb-0"># 정보기술(IT) 시대에 옛날 학창 시절 때와 같은 우표 수집의 열기는 사라졌지만 우표를 ...</p>
													</div>

												</div>
											</div>
										</article>
									</div>
								</main>

							</div>
						</div>
						<div class="tab-pane fade" id="about-nav2" role="tabpanel"
							aria-labelledby="canvas-about-nav2-tab" tabindex="0">
							<div class="row">
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/video/videoOne" class="entry-image"> <img
														src="/front/images/video/1.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">영상자료[1]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-content my-3">
														<p class="mb-0">2022 대한민국 우표전시회 공식홍보영상 </p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/video/videoTwo" class="entry-image"> <img
														src="/front/images/video/2.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">영상자료[2]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-content my-3">
														<p class="mb-0">[2022 대한민국 우표전시회] 인생우표찾기 ep.1 </p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/video/videoThree" class="entry-image"> <img
														src="/front/images/video/3.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">영상자료[3]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-content my-3">
														<p class="mb-0">2022 대한민국 우표전시회로 소풍오세요 </p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>
								<main class="postcontent col-lg-3">
									<div class="row g-4 mb-5">
										<article class="entry event col-12 mb-0">
											<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-lg h-shadow all-ts h-translate-y-sm">
												<div class="col-12 mb-md-0">
													<a href="/video/videoFour" class="entry-image"> <img
														src="/front/images/video/4.jpg" alt="#"
														class="rounded-2">
														<div class="bg-overlay">
															<div
																class="bg-overlay-content justify-content-start align-items-start">
																<div class="badge bg-light text-dark rounded-pill">영상자료[4]
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-12 p-1 pt-0">
													<div class="entry-content my-3">
														<p class="mb-0">푸릇푸릇 초록, 풀림 작가 인터뷰 </p>
													</div>
												</div>
											</div>
										</article>
									</div>
								</main>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-wrap">
				<div class="container partners">
					<ul class="clients-grid row row-cols-2 row-cols-sm-5">
						<li class="col"><a target="_blank" href="https://www.koreapost.go.kr/"><img
								src="/front/images/new/logo/11.png" alt="Clients"></a></li>
						
						<li class="col"><a target="_blank" href="https://www.posa.or.kr/portal/main/main.do"><img
								src="/front/images/new/logo/33.png" alt="Clients"></a></li>
						<li class="col"><a target="_blank" href="http://www.woopyo.net/default/"><img
								src="/front/images/new/looo.png" alt="Clients"></a></li>
						<li class="col"><a target="_blank" href="https://stamp.epost.go.kr/"><img
								src="/front/images/new/logo/55.png" alt="Clients"></a></li>
						<li class="col"><a target="_blank" href="https://www.stampmuseum.kr"><img
								src="/front/images/new/logo/22.png" alt="Clients"></a></li>		
					</ul>
				</div>
			</div>
		</section>
		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>
	</div>


	<script src="/front/js/jquery.js"></script>
	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script
		src="/front/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script
		src="/front/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script>
		var tpj=jQuery;
		var revapi8;

		tpj(document).ready(function() {
			if(tpj("#rev_slider_8_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_8_1");
			}else{
				revapi8 = tpj("#rev_slider_8_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"/front/include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:5000,
					navigation: {
						onHoverStop:"off",
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,778,480],
					gridheight:[900,800,960,720],
					lazyType:"smart",
					parallax: {
						type:"scroll",
						origo:"enterpoint",
						speed:400,
						levels:[5,10,15,20,25,30,35,40,50,-10,-15,-20,-25,-30,-40,55],
						type:"scroll",
					},
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "60px",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
				var api = revapi8;

				var newCall = new Object(),
					cslide;

				newCall.callback = function() {
					var proc = api.revgetparallaxproc(),
						fade = 1+(proc*1.7);
						fade2 = 1.3+(proc*2);

					fade = fade>1 ? 1 : fade < 0 ? 0 : fade;
					fade2 = fade2>1 ? 1 : fade2 < 0.15 ? 0.15 : fade2;


					punchgs.TweenLite.set(api.find('.tp-giveeffect').parent(),{opacity:fade});
					punchgs.TweenLite.set(api.find('.effect_wrapper'),{opacity:fade2});
				}
				newCall.inmodule = "parallax";
				newCall.atposition = "start";


				api.on("revolution.slide.onloaded",function (e) {
					api.find('.slotholder').wrap('<div class="effect_wrapper"></div>');
					api.revaddcallback(newCall);

				});
			}
		});	/*ready*/
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.2/js/swiper.min.js"></script>
	<script src="/front/page/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://unpkg.com/youtube-background@1.0.14/jquery.youtube-background.min.js"></script>
	<script>
	  $(document).ready(function() {
	    $('[data-vbg]').youtube_background({
	    	'fit-box':true
	    }); 
	  });
	</script>
</body>
</html>