<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('우수작 전시 페이지')">

</head>
<body class="stretched" data-menu-breakpoint="1200">

	<div id="wrapper">
		<div class="mfp-hide" id="gdpr-preferences">
			<div class="block mx-auto bg-white gdpr-cookie-settings" style="max-width: 800px;">
				<div class="p-5" style="max-height: 400px; overflow-y: scroll; -webkit-overflow-scrolling: touch;">
					<h4 class="mb-3">개인정보처리방침</h4>
					<p class="mb-5">개인정보처리방침에 대한 안내 메시지.</p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item px-0 py-4">
							<div class="row">
								<div class="col">
									<div class="toggle mb-0">
										<div class="toggle-header">
											<div class="toggle-icon">
												<i class="toggle-closed uil uil-plus"></i>
												<i class="toggle-open uil uil-minus"></i>
											</div>
											<div class="toggle-title">
												개인정보처리방침
											</div>
										</div>
										<div class="toggle-content ps-4">
											개인정보처리방침에 대한 안내 메시지.
										</div>
									</div>
								</div>
								<div class="col-auto text-end">
									<small><strong>REQUIRED</strong></small>
								</div>
							</div>
						</li>
						<li class="list-group-item px-0 py-4">
							<div class="row">
								<div class="col">
									<div class="toggle mb-0">
										<div class="toggle-header">
											<div class="toggle-icon">
												<i class="toggle-closed uil uil-plus"></i>
												<i class="toggle-open uil uil-minus"></i>
											</div>
											<div class="toggle-title">
												개인정보처리방침
											</div>
										</div>
										<div class="toggle-content ps-4">
											개인정보처리방침에 대한 안내 메시지.
										</div>
									</div>
								</div>
								<div class="col-auto text-end">
									<small><strong>REQUIRED</strong></small>
								</div>
							</div>
						</li>
						<li class="list-group-item px-0 py-4">
							<div class="row">
								<div class="col">
									<div class="toggle mb-0">
										<div class="toggle-header">
											<div class="toggle-icon">
												<i class="toggle-closed uil uil-plus"></i>
												<i class="toggle-open uil uil-minus"></i>
											</div>
											<div class="toggle-title">
												Youtube <small>(Hosting Video Platform by Google Inc.)</small>
											</div>
										</div>
										<div class="toggle-content ps-4">
											개인정보처리방침에 대한 안내 메시지.
										</div>
									</div>
								</div>
								<div class="col-auto text-end">
									<div class="switch d-inline-block">
										<input id="switch-toggle-youtube" class="switch-toggle switch-toggle-flat switch-flat-mini" type="checkbox" checked data-cookie-name="canvas-gdpr-youtube">
										<label class="m-0" for="switch-toggle-youtube"></label>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="section text-center p-4 m-0 border-top">
					<a href="#" class="btn btn-primary gdpr-save-cookies">Save Preferences</a><br>
					<a href="#" class="btn btn-link text-muted"><small>Privacy Policy</small></a>
				</div>
			</div>
		</div>
		<header id="header" class="transparent-header dark"
			th:replace="fragments/front/common :: headMenu('white')"> </header>
		<section
			class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/bg01.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 ONLINE STAMP
							CONTEST</span>
						<h1>
							<div class="fw-bold display-5 nocolor">온라인전시회 오프닝</div>
						</h1>
						<span class="fw-light" style="max-width: 40rem;">오프닝에 대한
							간단한 인사문구 영역 입니다.</span>

						<div class="mt-4 pt-3">
							<a href="#" class="button rounded-2 ms-0 mb-0">전시회 소개</a> <a
								href="#"
								class="button rounded-2 h-bg-light button-light button-border border-2 me-0 mb-0">역대
								전시회 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a> <a href="#"
								class="button rounded-2 h-bg-light button-light button-border border-2 me-0 mb-0">전시회
								상징 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="#"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">Templates</a></li>
							<li class="breadcrumb-item active" aria-current="page">Page
								Titles</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			<div class="content-wrap">
				 <div class="container mt-5 mb-10">
	                <div class="title-block">
	                    <h1>전시회 오프닝</h1>
	                    <span># 전시회 오프닝 이미지 영역 입니다.</span>
	                    <span># 오프라인 전시관 등 다양한 이미지를 배치할 수 있습니다.</span>
	                </div>
	            </div>
				<div class="container" id="opening">
					<div class="swiper-container-wrapper row">
						<div class="swiper-container gallery-top col-lg-9" style="padding:0px;">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
								<div class="swiper-slide">
									<img height="1000px" src="/front/images/new/bg01.jpg">
								</div>
							</div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
						<div class="swiper-container gallery-thumbs col-lg-3">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
								<div class="swiper-slide"><img height="1000px" src="/front/images/new/bg01.jpg"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="container mt-10 mb-10">
	                <div class="title-block">
	                    <h1>전시회 오프닝 멘트</h1>
	                    <span># 다시 찾는 희망, 2023 대한민국 우표전시회.</span>
	                    <span># 우표, 지속가능한 세상을 말하다.</span>
	                </div>
	            </div>
	            <div class="container">
		            <div class="opening-comment">
		            	<blockquote>
							<p>67년 우표 역사가 깃든 2021 대한민국 우표전시회를,</p>
							<p>작년에 이어 올해도 온라인으로 개최하게 되었습니다.</p>
						</blockquote>
						<blockquote>	
							<p>코로나19로 인해 잃어버린 일상을 다시 찾아가는 의지를 담아</p>
							<p>‘우표, 지속가능한 세상을 말하다’라는 주제로 희망의 목소리를 전하고자 합니다.</p>
						</blockquote>
						<blockquote>
							<p>67년 우표 역사가 깃든 2021 대한민국 우표전시회를 작년에 이어 올해도 온라인으로 개최합니다.</p>
							<p>코로나19로 인해 잃어버린 일상을 다시 찾아가는 의지를 담아</p>
							<p>‘우표, 지속가능한 세상을 말하다’라는 주제로 희망의 목소리를 전하고자 합니다.</p>
						</blockquote>
	
						<blockquote>
							<p>2023 대한민국 우표전시회가 여러분에게 희망을 찾을 수 있는 계기가 되길 소망해 봅니다.</p>
							<p>언제 어디서나 편안하게 즐길 수 있는 랜선 우표 축제에 오신 여러분을 진심으로 환영합니다.</p>
						</blockquote>
					</div>
	            </div>
	            <div class="container mt-10 mb-10">
	                <div class="title-block">
	                    <h1>전시회 오프닝 영상</h1>
	                    <span># 다시 찾는 희망, 2023 대한민국 우표전시회.</span>
	                    <span># 우표, 지속가능한 세상을 말하다.</span>
	                </div>
	            </div>
	            <div class="container">
	            	<div class="gdpr-container" data-cookie-name="canvas-gdpr-youtube" data-cookies="true" data-cookie-content='<iframe width="560" height="315" src="https://www.youtube.com/embed/SZEflIVnhH8" allowfullscreen></iframe>'>
						<div class="gdpr-blocked-message bg-dark">
							<i class="fa-brands fa-youtube h1 text-light mb-3"></i>
							<p class="text-light mb-2">This content has been blocked in your <a href="#gdpr-preferences" class="text-light" data-lightbox="inline">Privacy Preferences</a>.</p>
						</div>
					</div>
	            </div>
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
	<script>
		$(function() {
			var galleryThumbs = new Swiper(".gallery-thumbs", {
				centeredSlides : true,
				centeredSlidesBounds : true,
				direction : "horizontal",
				spaceBetween : 10,
				slidesPerView : 3,
				freeMode : false,
				watchSlidesVisibility : true,
				watchSlidesProgress : true,
				watchOverflow : true,
				autoplay:{
					delay:3000
				},
				breakpoints : {
					480 : {
						direction : "vertical",
						slidesPerView : 3
					}
				}
			});
			var galleryTop = new Swiper(".gallery-top", {
				direction : "horizontal",
				spaceBetween : 10,
				navigation : {
					nextEl : ".swiper-button-next",
					prevEl : ".swiper-button-prev"
				},
				a11y : {
					prevSlideMessage : "Previous slide",
					nextSlideMessage : "Next slide",
				},
				keyboard : {
					enabled : true,
				},
				thumbs : {
					swiper : galleryThumbs
				}
			});
			galleryTop.on("slideChangeTransitionStart", function() {
				galleryThumbs.slideTo(galleryTop.activeIndex);
			});
			galleryThumbs.on("transitionStart", function() {
				galleryTop.slideTo(galleryThumbs.activeIndex);
			});
		});
	</script>
</body>
</html>