<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('우수작 전시 페이지')">
    
</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		 <header id="header" class="transparent-header dark" th:replace="fragments/front/common :: headMenu('white')">
         
        </header>
		<section class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/e1.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric
							Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 이벤트 소식</div>
						</h1>

						<div class="mt-4 pt-3">
							<a href="/event/prize"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">부대행사 안내 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
							<a href="/event/eventTwo"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">투표 이벤트<i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="/index"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">이벤트</a></li>
							<li class="breadcrumb-item active" aria-current="page">이벤트 안내</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			
			<div class="content-wrap pt-0">
				<div class="container">
					<div class="row g-4 mb-5">
						<article class="entry event col-6 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="/event/eventOneDetail" class="entry-image mb-0 h-100">
										<img src="/front/images/new/ee2.png" alt="EVENT" class="rounded-2 h-100 object-cover">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">SNS EVENT</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="/event/eventOneDetail" class="text-uppercase fw-medium">2023.09.18. ~ 2023.09.20.</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="/event/eventOneDetail">우표 초성 이벤트</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">우표 ㅊㅁ 주간???</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="/event/eventOneDetail" class="fw-normal"><i class="uil uil-map-marker"></i>참여하기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<article class="entry event col-6 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="javascript:void(0);" class="entry-image mb-0 h-100">
										<img src="/front/images/3231231.png" alt="EVENT" class="rounded-2 h-100 object-cover">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">종료된이벤트</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="javascript:void(0);" class="text-uppercase fw-medium">2023.09.12. ~ 2023.09.17.</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="javascript:void(0);">기대평 EVENT</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">우표, 문학 그리고 행복한 이야기</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="javascript:void(0);" class="fw-normal"><i class="uil uil-map-marker"></i>참여하기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						
						<article class="entry event col-6 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="javascript:void(0);" class="entry-image mb-0 h-100">
										<img src="/front/images/123123123.jpg" alt="EVENT" class="rounded-2 h-100 object-cover">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">종료된 이벤트</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="javascript:void(0);" class="text-uppercase fw-medium">2023.09.06. ~ 2023.09.10</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="javascript:void(0);">팔로우 EVENT</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">이번 우표전시회 주제는 무엇일까요??</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="javascript:void(0);" class="fw-normal"><i class="uil uil-map-marker"></i>참여하기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="pagination-wrap">
						<ul class="pagination pagination-rounded pagination-3d">
						  <li class="page-item">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#"
								tabindex="-1" aria-disabled="true">Previous</a>
							</li>
							<li class="page-item" >
								<a	class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#" >Next</a>
							</li>
							<li class="page-item" >
								<a class="page-link" href="#">Last</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/front/js/components/datepicker.js"></script>

</body>
</html>