<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('우수작 전시 페이지')">
    
</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		 <header id="header" class="transparent-header dark" th:replace="fragments/front/common :: headMenu('white')">
         
        </header>
		<section class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/eee1.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric
							Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 부대행사</div>
						</h1>

						<div class="mt-4 pt-3">
							<a href="/event/eventOne"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">이벤트 안내 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
							<a href="/event/eventTwo"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">투표 이벤트<i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="/index"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">이벤트</a></li>
							<li class="breadcrumb-item active" aria-current="page">부대행사</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			
			<div class="content-wrap pt-0">
				<div class="container">
					<table class="table table-bordered table-hover process-table">
						<thead class="text-center">
							<tr>
								<th>일자</th>
								<th>시간</th>
								<th>내용</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>9/21 (목)</td>
								<td><p>- 14:00 ~ 14:50</p>
									<p>- 15:00 ~ 17:00</p>
								</td>
								<td><p>- 개막식, 시상식, 기증식</p>
									<p>- 박은경 디자이너(우표 디자이너 사인회)</p></td>
							</tr>
							<tr>
								<td>9/22 (금)</td>
								<td><p>- 14:00 ~ 16:40</p>
									<p>- 16:00 ~ 16:30</p>
									<p>- 16:30 ~ 17:00</p>
								</td>
								<td><p>- 유지형 디자이너(우표 디자이너 사인회)</p>
									<p>- 아름다운 이야기 할머니</p>
									<p>- 설화로 만나는 우정문화 체험교실</p></td>
							</tr>
							<tr>
								<td>9/23 (토)</td>
								<td><p>- 11:00 ~ 11:30</p>
									<p>- 11:30 ~ 12:40</p>
									<p>- 13:00 ~ 13:30</p>
									<p>- 14:00 ~ 15:00</p>
									<p>- 16:00 ~ 17:00</p>
								</td>
								<td><p>- 아름다운 이야기 할머니</p>
									<p>- 아름다운 이야기 할머니</p>
									<p>- 설화로 만나는 우정문화 체험교실</p>
									<p>- 이근문, 이혜옥 디자이너(우표 디자이너 사인회)</p>
									<p>- 명사 우표 토크쇼(우표 뒷이야기)</p>
								</td>
							</tr>
							<tr>
								<td>9/24 (일)</td>
								<td><p>- 11:00 ~ 12:50</p>
									<p>- 13:00 ~ 13:40</p>
									<p>- 14:00 ~ 16:00</p>
								</td>
								<td><p>- 마음으로 쓰는 글씨 </p>
									<p>- 설화로 만나는 우정문화 체험교실</p>
									<p>- 정은영 디자이너(우표 디자이너 사인회)</p>
								</td>
							</tr>
							<tr>
								<td>9/25 (월)</td>
								<td><p>- 11:00 ~ 12:50</p>
									<p>- 13:00 ~ 13:40</p>
									<p>- 14:00 ~ 16:00</p>
								</td>
									<td>
									<p>- 마음으로 쓰는 글씨(마음이 부자인 집)</p>
									<p>- 설화로 만나는 우정문화 체험교실</p>
									<p>- 김창환 디자이너(우표 디자이너 사인회)</p>
								</td>
							</tr>
							<tr>
								<td>9/26 (화)</td>
								<td>
									<p>- 13:00 ~ 13:40</p>
									<p>- 14:00 ~ 16:00</p>
								</td>
								<td><p>- 설화로 만나는 우정문화 체험교실</p>
									<p>- 신재용 디자이너(우표 디자이너 사인회)</p>
								</td>
							</tr>
							<tr>
								<td>9/27 (수)</td>
								<td><p>- 13:00 ~ 13:40</p>
									<p>- 14:00 ~ 16:00</p>
								</td>
								<td><p>- 설화로 만나는 우정문화 체험교실</p>
									<p>- 김미화 디자이너(우표 디자이너 사인회)</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/front/js/components/datepicker.js"></script>

</body>
</html>