<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('우수작 전시 페이지')">

</head>
<body class="stretched" data-menu-breakpoint="1200">
	<th:block th:replace="fragments/front/common :: transPart"></th:block>
	<div id="wrapper">
		<header id="header" class="transparent-header dark"
			th:replace="fragments/front/common :: headMenu('white')"> </header>
		<section
			class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/opening.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 오프닝</div>
						</h1>

						<div class="mt-4 pt-3">
							<a href="/intro/introduction"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">전시회 소개 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="#"><i class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">전시회안내</a></li>
							<li class="breadcrumb-item active" aria-current="page">오프닝세션</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			<div class="content-wrap">
	            <div class="container">
	            	<ul class="new-notice-wrap opening-tabs nav canvas-alt-tabs2 tabs nav-pills mb-3 row" id="canvas-tab-nav2" role="tablist">
						<li class="nav-item col-sm-4" role="presentation">
							<button class="nav-link active" id="canvas-home-nav2-tab" data-bs-toggle="pill"
								data-bs-target="#home-nav2" type="button" role="tab" aria-controls="canvas-home-nav2"
								aria-selected="true">개회사</button>
						</li>
						<li class="nav-item col-sm-4" role="presentation">
							<button class="nav-link" id="canvas-profile-nav2-tab" data-bs-toggle="pill"
								data-bs-target="#profile-nav2" type="button" role="tab" aria-controls="canvas-profile-nav2"
								aria-selected="false">축하메시지 #1</button>
						</li>
						<li class="nav-item col-sm-4" role="presentation">
							<button class="nav-link" id="canvas-contact-nav2-tab" data-bs-toggle="pill"
								data-bs-target="#contact-nav2" type="button" role="tab" aria-controls="canvas-contact-nav2"
								aria-selected="false">축하메시지 #2</button>
						</li>
					</ul>
					<div id="canvas-tab-content2" class="tab-content">
						<div class="tab-pane fade show active" id="home-nav2" role="tabpanel" aria-labelledby="canvas-home-nav2-tab"
							tabindex="0">
							<div class="opening-comment">
				            	<blockquote class="opening-title">
									<p>안녕하세요.</p>
									<p><span>2023년 대한민국 우표전시회</span>를 찾아주신 여러분, 진심으로 환영합니다.</p>
								</blockquote>
								<blockquote class="opening-content">	
									<p>우표의 문화적 가치를 제고하고 우취 문화 저변을 확대하는 목적으로</p>
									<p>1954년 ‘우표전람회’로 시작된 대한민국 우표전시회가 ‘대한민국 우표 이야기’라는 주제로 찾아왔습니다.</p>
									<p>일상 회복에 성큼 가까워진 만큼 오프라인 현장에서 여러분과 소통하며</p>
									<p>작년보다 더욱 풍성한 볼거리와 다채로운 체험을 통해 우표의 가치를 전달하려고 합니다.</p>
									<p>작년 NFT 우표 콘텐츠에 이어 이번 전시회에서는 Generative AI, AI휴먼 전시해설사, AI 프롬프트 교육 등</p>
									<p>디지털 기술을 활용하여 우표에 담긴 이야기를 더욱 흥미롭게 전달하고, 다양한 체험을 제공할 예정입니다.</p>
								</blockquote>
			
								<blockquote class="opening-content">	
									<p>디지털 콘텐츠뿐만 아니라 이야기 할머니, 우표의 원도 원화 전시물 등을 통해</p>
									<p>우표에 표현된 역사적 사건이나 문화적 의미를 되새겨보는 아날로그 공간도 마련되어 있습니다.</p>
									<p>또한 146점의 우수한 우표작품을 온·오프라인에 하이브리드로 전시를 진행합니다.</p>
									<p>대한민국 우표전시회는 그동안 정성스럽게 준비한 우취 작품들을 출품한 수집가들은 물론 </p>
									<p>모든 사람들이 함께하는 축제의 장입니다.</p>
									<p>작은 우표 속에 담아진 이야기를 펼쳐 낼 2023 대한민국 우표전시회를 통해</p>
									<p>여러분의 새로운 이야기들을 만들어가시길 바랍니다.</p>
									<p>감사합니다.</p>
								</blockquote>
								<div class="opening-img-wrap text-center">
									<img src="/front/images/new/park.png">
									<p class="mb-0">우정사업본부장 직무대리</p>
									<h3>박인환</h3>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="profile-nav2" role="tabpanel" aria-labelledby="canvas-profile-nav2-tab"
							tabindex="0">
							<div class="opening-comment">
				            	<blockquote class="opening-title">
									<p>우취애호가 여러분! 안녕하십니까?</p>
								</blockquote>
								<blockquote class="opening-content">	
									<p>유난히도 기승을 부렸던 여름 장마와 폭우, 그리고, 태풍에 이어진 폭염도 어느덧 물러가고</p>
									<p>언제 그랬냐는 듯 벼들이 고개를 숙이며 익어가는 풍요로운 결실의 계절 가을이 어김없이 찾아왔습니다.</p>
									<p>2023년 대한민국우표전시회에 훌륭한 우취작품을 출품하여 주신 우취인 여러분과 제36회 대한민국어린이우표전시회에</p>
									<p>작품을 출품하여 주신 우취 꿈나무 여러분, 그리고 어려운 가운데서도 훌륭한 작품 제작을 지도해 주신 </p>
									<p>우취반 선생님께도 감사의 말씀을 드립니다.</p>
									<p>아울러 본 전시회가 성공적으로 개최될 수 있도록 물심양면으로 지원해 주신 우정사업본부장님과 우정관계자 여러분,</p>
									<p>전시회를 준비해 주신 한국우편사업진흥원 송관호 원장님께도 진심으로 깊은 감사의 말씀을 드립니다.</p>
								</blockquote>
			
								<blockquote class="opening-content">	
									<p>이번 전시회는 지난 3년여 동안 지속된 코로나19 비상사태가 해제되고, 이달부터는 감염병 등급이 4급으로 하향되어</p>
									<p>독감 수준의 상황에서 처음으로 개최되는 우표전시회라 가슴이 설레며 기대가 큽니다.</p>
									<p>그동안 비대면 온라인 전시회에서 만남에 어색하였고, 표현도 자유롭지 못하고 한정된 상황에서 개최되어 아쉬움이 많았습니다.</p>
									<p>이제 몸과 마음을 활짝 열고 마음껏 우취에 심취하여 다양한 우취문화 가치 제고와 저변확대에 기여하고자</p>
									<p>‘우표 이야기’라는 주제로 온라인과 오프라인 두 가지 방법으로 기획되었습니다.</p>
								</blockquote>
								
								<blockquote class="opening-content">	
									<p>우취인 여러분!</p>
									<p>내년은 우리나라 근대우정 140주년과 우리나라에서 최초의 우표 발행 140주년을 기념하는</p>
									<p>필라코리아 2024세계우표전시회가 열리는 뜻 깊은 해입니다.</p>
									<p>이번 세계우표전시회는 어려운 가운데서도 10년만에 개최하는 만큼, 수준 높은 우취작품을 많이 출품하여 </p>
									<p>한국우정을 빛내고 세계 속의 우취강국으로 우뚝 서는 계기로 삼아야 하겠습니다.</p>
									<p>그러기 위해서는 우취인 모두가 일치단결하여 성공적으로 개최하도록</p>
									<p>온 힘을 모아 준비에 만전을 기해야 하겠습니다.</p>
									<p>그 동안 우표를 수집하고, 열정을 쏟아 작품으로 승화시켜 수상하신 우취인,</p>
									<p>청소년과 어린이 모든 분께 치하의 말씀을 드리며,</p>
									<p>그 동안의 노고에 감사드립니다. </p>
									<p>아울러 훌륭한 전시회를 마련해주신 우정사업본부장님과 관계자 여러분께 다시 한번 깊은 감사를 드리며,</p>
									<p>우취인 여러분의 가정에 건강과 행운이 가득하길 기원합니다. </p>
									<p>감사합니다.</p>
								</blockquote>
								<div class="opening-img-wrap text-center">
									<img src="/front/images/new/finish/1.png">
									<p class="mb-0">한국우취연합 회장</p>
									<h3>조권행</h3>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="contact-nav2" role="tabpanel" aria-labelledby="canvas-contact-nav2-tab"
							tabindex="0">
							<div class="opening-comment">
				            	<blockquote class="opening-title">
									<p>여러분 반갑습니다, 한국우편사업진흥원장 송관호입니다.</p>
								</blockquote>
								<blockquote class="opening-content">	
									<p>먼저 ‘2023 대한민국 우표전시회’의 개최를 진심으로 축하드리며,</p>
									<p>전시회가 성공적으로 개최될 수 있도록 노력해주신 모든 분께 진심으로 감사드립니다.</p>
									<p>또한 소중한 우표 작품을 출품해주시고 우수한 성적을 거두신 수상자분들 모두 축하드립니다. </p>
									<p>우리 한국우정은 우표를 통해 139년간의 대한민국 이야기를 함께 기록해왔습니다.</p>
									<p>이번 전시회가 역사의 현장 광화문 중심이자 모두의 문화공간인</p>
									<p>세종문화회관에서 이루어진다는 점에서 더욱더 특별하게 느껴집니다.</p>
									<p>이번 전시회는 특별히 우표 콘텐츠를 AI 기술과 접목하여</p>
									<p>누구나 생동감 있고 실감 나는 우표 콘텐츠를 즐길 수 있게 구성하였습니다.</p>
								</blockquote>
			
								<blockquote class="opening-content">	
									<p>우표대화관에서 AI로 구현한 우표 속 인물 살아 숨 쉬는 우표문화를 체험해볼 수 있습니다.</p>
									<p>이외에도 대한민국 대표 캐릭터와 음악 등을 소재로 K-컬처의 영롱함을 알리는 우표전설관,</p>
									<p>다양한 콜라보를 통하여 우리 근대 미술의 가치를 우표로 확인할 수 있는 우표예술관,</p>
									<p>수상작품을 볼 수 있는 우표 작품관 등 다채로운 형태로 우표를 관람하고 체험하실 수 있습니다. </p>
									<p>흥미로운 우표문화 세상 속 여러분이 주연이 되어 새로운 이야기를 만들어내며, 의미 있는 시간을 보내시길 바랍니다.</p>
									<p>한국우편사업진흥원은 앞으로도 우편서비스 가치 창출과 우정문화 창달을 통해</p>
									<p>우정사업 발전에 기여하는 사명 아래 우표 문화 저변 확대에 노력하겠습니다.</p>
									<p>끝으로, 우표에 변함없는 관심과 사랑을 보내주시는 여러분의 가정에 건강과 행복이 가득하길 기원합니다.</p>
									<p>감사합니다.</p>
								</blockquote>
								<div class="opening-img-wrap text-center">
									<img width="233px;" src="/front/images/new/finish/2.png">
									<p class="mb-0">한국우편사업진흥원장</p>
									<h3>송관호</h3>
								</div>
							</div>
						</div>
					</div>
	            </div>
			</div>
		</section>
		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
</body>
</html>